// @window-width: 100vw;

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

header {
	height: 150px; 
	font-size: 20px;
    padding: 60px 250px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

main { 
	width: 100%; 
    
}

.horse {
    // height: calc(@window-width/3*2);
    // background-image: url(horse.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.boxes {
    margin-top: 126px;
}
.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.grey-back {
    background-color: #f7f8fa;
    padding: 0 117px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 55px;
    text-align: left;
}
.grey-back-text {
    display: flex;
    flex-direction: column;
    gap: 26px;
}


.screen {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.screen-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 55px;
    text-align: left;
    padding-left: 15px;
}
.screen-text-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 55px;
    text-align: left;
    align-items: flex-end;
    padding-right: 15px;
}
.screen-img {
    margin-top: -90px;
}
.screen-img-container-first {
    padding-right: 180px;
}
.screen-img-container-second {
    padding-left: 180px;
}

.john {
    // height: calc(@window-width/3*0.92);
    // background-image: url(john.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -150px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.john-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 55px;
    text-align: left;
}
.john-sec-text-container {
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.john-name-text-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.half-width {
    width: 50%;
}
.menu-button {
    width: 18px;
    height: 18px;
	border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 21px;
    cursor: pointer;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.08);
}
.round-button-icon {
    height: 25px;
    width: 25px;
    margin-left: -3px;
}

.width-100 {
    width: 100%;
}


.round-logo {
    border-radius: 50%;
    width: 414px;
    height: 414px;
    margin-top: -267px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.08);
}

.logo-text-container {
    margin-top: 240px;
    display: flex;
    flex-direction: column;
}

.main-header {
    margin-top: 130px;
}
button {
    background-color: #FFFFFF;
    color: #00aaff;
    font-size: 14px;
    font-weight: bolder;
    height: 51px;
    width: 229px;

    border: none;
    border-radius: 30px;

    margin-top: 120px;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.08);

    cursor: pointer;
}

.options {
    width: calc(100% - 500px);
    padding: 0 250px;

    display: flex;
    flex-direction: row;
    gap: 120px;

    margin-top: 100px;
}
.option {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}


.content {
	background: #ffffff; 
}

footer {
    display: flex;
    flex-direction: column;
    gap: 37px;
    padding-top: 136px;
}

.logo {
	height: 15px;
	width: 15px;
}
.rounded-border {
	border: 1px solid;
	border-radius: 10px;
}

.header-text {
    font-size: 48pt;
    color: #00aaff;
}
.big-text {
    font-size: 48pt;
}
.small-text {
    font-size: 14pt;
    color: #b1bbbf;
}
.small-middle-text {
    font-size: 16pt;
}
.middle-text {
    font-size: 18pt;
}
.middle-big-text {
    font-size: 24pt;
}
.secondary-text {
    color: #b1bbbf;
}
.primary-text {
    color: black;
}
.accent-text {
    color: #ff5170;
}
.bold {
    font-weight: bolder;
}
.black-text {
    color: black;
}


.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); 

    transition: opacity 200ms ease-in;

    opacity: 0; 
    pointer-events: none; /* элемент невидим для событий мыши */

    &:target {
		opacity: 1; /* делаем окно видимым */
	    pointer-events: auto; /* элемент видим для событий мыши */
	}

}

.my-modal-window {
    background-color: white;
    border-radius: 10px;
    width: 1186px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 200px auto;
}

.modal-logo {
    height: 363px;
    width: 363px;
    background-color: white;
    border-radius: 50%;
    margin-top: -182px;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.modal-text-container {
    padding: 105px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    justify-content: center;
}
.accent-button {
    background-color: #ff5170;
    color: white;
    font-size: 18pt;
    height: 95px;
    width: 290px;
    border-radius: 5px;
    margin: 0;
}
.close-button-container {
    width: 95%;
    margin-top: -150px;
    display: flex;
    justify-content: flex-end;
}
